<div class="container-fluid text-center">
    <div class="bg-primary text-white text-center m-2 p-3">
        <h3>Produkt: {{ nazwa | wielka | odwroc }}</h3>
        <h3>Produkt: {{ nazwa | odwroc | wielka }}</h3>

        <h4>Cena: {{ pobierzCalkowitaCene(nizszyPodatek) | waluta(3) }} (niższa stawka)</h4>
        <h4>Cena: {{ pobierzCalkowitaCene(wyzszyPodatek) | walutaG }} (wyzsza stawka)</h4>

        <h3>Produkt: <span v-text="nazwa"></span> </h3>
        <span v-html="fragment"></span>
        <h4 v-if="pokazElementy">Cena (v-if): {{ cena }} PLN</h4>
    </div>

    <div class="bg-primary text-white text-center m-2 p-3">
        <ul class="text-left">
            <li>Pierwszy element listy</li>
            <template v-if="pokazElementy">
                <li>{{ nazwa }}</li>
                <li>{{ cena }}</li>
            </template>
            <li>Ostatni element listy</li>
        </ul>
        <h3 v-if="pokazElementy">Produkt: {{ nazwa }}</h3>
        <h3 v-else>Produkt: {{ cena }}</h3>
    </div>
    <div class="bg-primary text-white text-center m-2 p-3">
        <h3 v-if="licznik % 3 === 0">Produkt: {{ nazwa }}</h3>
        <h3 v-else-if="licznik % 3 === 1">Cena: {{ cena }}</h3>
        <h3 v-else>kategoria: {{ kategoria }}</h3>
    </div>
    <div class="bg-primary text-white text-center m-2 p-3">
        <h2 v-show="licznik % 2 == 0">Produkt {{ nazwa }}</h2>
        <h2 v-show="licznik % 2 != 0">Cena: {{ cena }}</h2>
    </div>

    <button class="btn btn-primary" v-on:click="przechwycKlikniecie">
        Kliknij mnie
    </button><br/><br/>
    <button class="btn btn-primary" v-on:click="przechwycKlikniecieShow">
        Kliknij mnie Show
    </button>

    <div class="bg-primary text-white text-center m-2 p-3">
        <h3 v-bind:class="klasyElementu">Produkt: {{ nazwa }}</h3>
    </div>
    <button class="btn btn-primary" v-on:click="przechwycKlikniecieBind">
        Kliknij mnie Bind
    </button><br/><br/>

    <div class="bg-primary text-white text-center m-2 p-3">
        <h3 v-bind:class="klasyElementu2" class="p-4">Produkt: {{ nazwa }}</h3>
    </div>
    <button class="btn btn-primary" v-on:click="przechwycKlikniecieBind1">
        Kliknij mnie Bind1
    </button>
    <button class="btn btn-primary" v-on:click="przechwycKlikniecieBind2">
        Kliknij mnie Bind2
    </button>

    <div class="bg-primary text-white text-center m-2 p-3">
        <h3 v-bind:style="styleElementu" class="p-4">Produkt: {{ nazwa }}</h3>
    </div>
    <button class="btn btn-primary" v-on:click="przechwycKlikniecieStyle">
        Kliknij mnie Style
    </button>

    <div class="bg-primary text-white text-center m-2 p-3">
        <h3 v-bind:data-size="rozmiar" class="p-4">Produkt: {{ nazwa }}</h3>
    </div>
    <button class="btn btn-primary" v-on:click="przechwycKlikniecieData">
        Kliknij mnie Data
    </button>

    <div class="bg-primary text-white text-center m-2 p-3">
        <h3 v-bind="wartosciAtrybutow">Produkt: {{ nazwa }}</h3>
    </div>
    <button class="btn btn-primary" v-on:click="przechwycKlikniecieAtrybuty">
        Kliknij mnie Atrybuty
    </button>

    <div class="bg-primary text-white text-center m-2 p-3">
        <h3 v-bind:text-content.prop="zawartoscTekstowa"></h3>
    </div>
    <button class="btn btn-primary" v-on:click="przechwycKlikniecieProp">
        Kliknij mnie Prop
    </button>

    <h2 class="bg-primary text-white text-center p-3">Produkty</h2>
    <table class="table table-sm table-bordered table-striped text-left">
        <tr><th>Indeks</th><th>Nazwa</th><th>Cena</th></tr>
        <tbody>
            <tr v-for="(p, i) in produkty" v-bind:key="p.nazwa" v-bind:odd="i % 2 == 0">
                <td>{{ i + 1 }}</td>
                <td>{{ p.nazwa }}</td>
                <td>{{ p.cena }}</td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" v-on:click="przechwycKlikniecieTable">
        Kliknij mnie Table
    </button>

    <h2 class="bg-primary text-white text-center p-3">Produkty</h2>
    <table class="table table-sm table-bordered table-striped text-left">
        <tr><th>Indeks (obiekt)</th><th>Klucz</th><th>Nazwa</th><th>Cena</th></tr>
        <tbody>
        <tr v-for="(p, key, i) in produktyObiekt" v-bind:key="p.nazwa">
            <td>{{ i + 1 }}</td>
            <td>{{ key }}</td>
            <td>{{ p.nazwa }}</td>
            <td>{{ p.cena }}</td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" v-on:click="przechwycKlikniecieTableObiekt">
        Kliknij mnie Table Obiekt
    </button>

    <div class="text-center">
        <!-- eslint-disable-next-line vue/require-v-for-key -->
        <button v-for="i in 5" v-on:click="przechwycKlikniecieLiczba(i)" class="btn btn-primary m-1">
            {{ i }}
        </button>
    </div>
</div>